imports:
  - { resource: vendor/drupol/backdrop-conventions/config/backdrop/grumphp.yml }
parameters:
  extensions:
    - drupol\BackdropConventions\GrumphpTasksExtension
  extra_tasks:
    phpunit:
      always_execute: true
