backdrop:
  root: build
  base_url: "http://127.0.0.1:8080/build"
  site:
    profile: minimal
  database:
    host: "mysql"
    port: "3306"
    name: "backdrop"
    user: "root"
    password: ""
  settings:
    conf:
      file_scan_ignore_directories:
        - vendor
        - ${backdrop.root}
        - node_modules
        - bower_components
        - build
        - sites/all/themes/atomium/build
        - build/sites/all/themes/atomium/build
      drupal_http_request_fails: false
  post_install:
      - { task: "chmod", file: "${backdrop.root}/files", permissions: 0777, recursive: true }
  drush:
    options:
      ignored-directories:
        - vendor
        - ${drupal.root}
        - node_modules
        - bower_components
        - build
        - sites/all/themes/atomium/build
        - build/sites/all/themes/atomium/build
      uri: "${backdrop.base_url}"

commands:
  backdrop:setup:
    - { task: "copy", from: "vendor/backdrop/backdrop/", to: "${backdrop.root}", force: true }
    - { task: "copy", from: "vendor/backdrop-contrib/drush/", to: ".drush/commands", force: true }
    - { task: "chmod", file: "${backdrop.root}/files", permissions: 0777, recursive: true }
    - { task: "remove", file: "${backdrop.root}/settings.local.php" }
    - { task: "append", file: "${backdrop.root}/settings.local.php", text: "<?php\n" }
    - { task: "append", file: "${backdrop.root}/settings.local.php", text: "$database = 'mysql://root:@db/backdrop';" }
  setup:phpunit:
    - { task: "process", from: "phpunit.xml.dist", to: "phpunit.xml" }
